body {
  margin: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loading-container {
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
}

.offline-container {
  top: 50%;
  left: 50%;
  position: fixed;
  text-align: center;
  transform: translate(-50%, -50%);
}

.offline-icon {
  margin: 1rem;
}